.min-player{
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    z-index: 10;
    margin-bottom: -1px;
}
.mini-py{
    background-color: #fff;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.3);
}
.min-player .mini-py{
    height: 55px;
}
.s-m-img{
    width: 55px;
    height: inherit;
    position: absolute;
}
.s-det{
    position: relative;
    margin-left: 55px;
    height: inherit;
    padding: 0px;
    z-index: 2;
    font-family: Lora, sans-serif;
}
.min-player .s-det .info{
    display: block;
    width: calc(100% - 50px);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: relative;
}
.min-player .s-det .info>span, .main-player .song-loc .song-detail .song-nm-detail span{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
}
.min-player .s-det a.pl-state{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30px;
}

.min-player .mini-py .s-m-img{
    background: #bcbcbc;
    background-position: 0 0;
}

.min-player .mini-py .s-det .info span.s-nm{
    font-size: 16px;
    font-weight: 800;
}
span.s-nm::before, span.ar-nm::before{
    content: "";
    position: relative;
    margin: 10px;
}
.min-player .mini-py .s-det .info span.ar-nm{
    font-size: 13px;
    font-weight: 600;
    color: #797979;
}
.main-player .song-loc .player-controls span.play-song{
    position: relative;
    top: 21%;
    left: 20%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30px;
}
a.sufSong{
    margin: 17px;
}
.player-controls a{
    position: relative;
    margin-left: 12%;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}
a.plSong{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
a.repeatBtn{
    position: relative;
    right: 0px;
    margin: 17px;
}
.close-main-player{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.circular {
width: 35px;
height: 35px;
position: absolute !important;
top: 0 !important;
bottom: 0 !important;
left: 0 !important;
right: 0 !important;
margin: auto;
transform: none !important;
-webkit-animation: rotate 2s linear infinite;
animation: rotate 2s linear infinite;
-webkit-transform-origin: center center;
transform-origin: center center;
}

.circular-main{
    width: 50px;
    height: 50px;
    position: absolute !important;
    top: 0 !important;
    bottom: 8px !important;
    left: 90% !important;
    right: 0 !important;
    margin: auto;
    transform: none !important;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circular, .circular-main .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
 to {
  -webkit-transform:rotate(3turn);
  transform:rotate(3turn);
 }
}
@keyframes rotate {
 to {
  -webkit-transform:rotate(4turn);
  transform:rotate(3turn);
 }
}

@-webkit-keyframes color {
 0%,
 to {
  stroke:#1703d2;
 }
 40% {
  stroke:#d2039e;
 }
 66% {
  stroke:#1703d2;
 }
 80%,
 90% {
  stroke:#d2039e;
 }
}
@keyframes color {
 0%,
 to {
  stroke:#1703d2;
 }
 40% {
  stroke:#d2039e;
 }
 66% {
  stroke:#1703d2;
 }
 80%,
 90% {
  stroke:#d2039e;
 }
}
@-webkit-keyframes dash {
 0% {
  stroke-dasharray:1,200;
  stroke-dashoffset:0
 }
 50% {
  stroke-dasharray:89,200;
  stroke-dashoffset:-35
 }
 to {
  stroke-dasharray:89,200;
  stroke-dashoffset:-124
 }
}
@keyframes dash {
 0% {
  stroke-dasharray:1,200;
  stroke-dashoffset:0
 }
 50% {
  stroke-dasharray:89,200;
  stroke-dashoffset:-35
 }
 to {
  stroke-dasharray:89,200;
  stroke-dashoffset:-124
 }
}
a.preloadMin{
    position: relative;
    width: 55px;
    height: 55px;
}
a.preloadMain{
    position: relative;
    width: 30px;
    right: 40px;
    height: 30px;
}
.online-status{
    position: relative;
    top: 0px;
    width: 100%;
    height: 50px;
    display: none;
    background-color: green;
    z-index: -1;
    transition: 1s;
    text-align: center;
    font-size: 15px;
    font-family: Lora, sans-serif;
    color: white;
}
#crtProgress{
    position: absolute;
    bottom: 0;
    padding: 12px 0 12px 0;
    background-image: linear-gradient(150deg, #d2039e, #1703d2);
    width: 0;
    height: 58%;
}
